
.menu-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: fit-content;
    background-color: #227dea;
    position: absolute;
    left: 65px; /* Ajustez la valeur en fonction de vos besoins */
    top: 0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;

}


.menu {
    display: flex;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 10px; /* Ajustez la taille en fonction de vos besoins */

}



.bar {
    width: 15px;
    height: 5px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
}



.menu-links {
    display: none;
    flex-direction: column;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow-x: hidden;
    max-height: 100vh;
    overflow-y: auto;
}

.menu-links a {
    background-color: #227;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.4s;
    white-space: nowrap;
}

.menu-links a:hover {
    background-color: black;
}

.hidden {
    display: none;
}
