
.contact-form {
    margin-top: 20px;
}
/* Style commun pour tous les titres de section */
section h2, section h3 {
    text-align: center; /* Centrer le titre */
    padding: 10px; /* Espacement autour du titre */
    border-radius: 5px; /* Bord arrondi */
    color: #fff; /* Couleur du texte du titre */
    background-color: gray; /* Couleur de fond du titre */
    font-size: 24px;
}

/* Style pour toutes les sections */
section {
    background-color: whitesmoke; /* Couleur de fond pour toutes les sections */
    position: relative; /* Position relative pour permettre le déplacement */
    left: 0; /* Position initiale des sections à gauche */
    transition: left 0.5s; /* Transition pour le déplacement */
}

section p {
    text-align: center;
    margin: 10px 0; /* Marge supérieure et inférieure de 10px pour les paragraphes */
}


/* Ajoutez cette classe au corps lorsque le panneau est ouvert */
.no-scroll section {
    left: 250px; /* Déplacement de 250px vers la droite lorsque le panneau est ouvert */
}
/* Ajoutez cette classe au corps lorsque le panneau est ouvert */
.no-scroll section {
    left: 250px; /* Déplacement de 250px vers la droite lorsque le panneau est ouvert */
}

/* Style pour cacher toutes les sections sauf la section #accueil */
section:not(#accueil) {
    display: none;
}

.container {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

#messageBox,#previewBox {
    text-align: center;
    color: red;
}
.actions {
    margin-bottom: 10px;
}

.actions i {
    cursor: pointer;
    margin-right: 10px;
}
/* Style pour centrer les images */
section img {
    display: block; /* Permet de centrer l'image */
    margin: 0 auto; /* Centre l'image horizontalement */
    
}

.image-container {
    max-width: 100%; /* Ajustez selon vos besoins */
    overflow: hidden; /* Empêche le débordement horizontal */
}

.image-container img {
    width: 100%; /* Remplacez max-width par width */
    height: auto; /* Pour conserver le rapport hauteur/largeur original de l'image */
}

.contact-form form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form form textarea {
    resize: vertical;
}

.contact-form form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form form button:hover {
    background-color: #0056b3;
}



