body {
    background-color: #f0f0f0; /* Couleur de fond */
    font-family: Arial, sans-serif;
    text-align: center; /* Centre le texte dans le corps de la page */
    margin: 0;
    padding: 0;
}

.family-section {
    display: block; /* Pour afficher la section famille */
    max-width: 800px; /* Largeur maximale de la section */
    margin: 0 auto; /* Centre la section sur la page */
    padding: 20px;
    background-color: #70c219; /* Couleur de fond de la section */
    border-radius: 10px; /* Coins arrondis */
}

h1 {
    color: #333; /* Couleur du titre "Familles" */
}

h3 {
    color: #555; /* Couleur des sous-titres Pere, Mere, etc. */
}

li {
    list-style-type: none; /* Supprime les puces de la liste */
    color: #777; /* Couleur du texte de la liste */
}