/* Styles for the header */
.header-title {
    font-size: 24px;
    background-color: aquamarine;
    text-align: center;
}

/* Styles for the navigation menu */
.nav-list {
    list-style-type: none;
    display: flex;
    background-color: aqua;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-shadow: none;
}

.nav-list li {
    margin: 0 10px;
}

/* Styles for the sections */
.section-title {
    font-size: 20px;
    text-align: center; /* Pour centrer le titre */
}

.about-paragraph {
    text-align: center; /* Pour centrer le texte */
    padding: 20px;
    max-width: 800px; /* Limite la largeur du texte pour une meilleure lisibilité */
    margin: 0 auto; /* Centre le bloc de texte horizontalement */
}

/* Style for the top-left image */
.top-left-image {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-bottom: 10;
    width: 60px; /* Ajustez la largeur à la taille souhaitée */
}
/* Styles for the contact form */
.form-label {
    display: block;
    margin-top: 10px;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.form-submit-button {
    display: block;
    margin-top: 10px;
}
.contact-section {
    text-align: center; /* Centre le contenu de la section */
}
.form-label {
    display: block;
    margin-top: 10px;
}
.form-input, .form-textarea {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
}

.form-submit-button {
    display: block;
    margin: 0 auto; /* Centre le bouton horizontalement */
    padding: 10px;
    background-color: #0074D9; /* Exemple de couleur de fond */
    color: #FFF; /* Exemple de couleur du texte */
    border: none;
    cursor: pointer;
}